.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #1f3b8f;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .title {
    padding-left: 8px;
    font-size: 130%;
  }

  .icon {
    color: aqua;
  }

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0.7em;
  }
  
  .logout {
    font-size: 130%;
    font-weight: bold;
    padding-right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
  }