.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    background-color: #1f3b8f;
    color: white;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0.7em;
  }
  
  .logout {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 1em;
    cursor: pointer;
  }