.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #1f3b8f;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

.title {
  padding-left: 8px;
  font-weight: bold;
  font-size: 1.2em;
}

.icon {
  color: aqua;
  font-size: 1.0em;
  display: inline-flex;
  align-items: center;
}

.logo {
  font-size: 1.2em;
  padding-left: 0.7em;
  display: flex;
  align-items: center;
}

.logout {
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
}