.assignment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Verdana', sans-serif;
  background-color: #eae7ee;
  min-height: 100vh;
}

.assignment-content {
  width: 70%;
  max-width: 1400px;
  padding-top: 10px;
}

.assignment-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  margin-right: 10px;
}

.assignment-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #333;
}

.assignment-statistics {
  background-color: #d3d3d3; /* Matches .question-item background */
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Consistent shadow */
}

.assignment-statistics h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.assignment-statistics ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.assignment-statistics li {
  font-size: 0.95em;
  color: #555;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.assignment-statistics li:last-child {
  border-bottom: none; /* Remove border from last item */
}

.assignment-statistics strong {
  color: #222;
  font-weight: bold;
}


.questions-list {
  list-style-type: none;
  padding: 0;
}

.question-item {
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-text h3 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
}

.question-tags {
  margin-top: 5px;
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-item {
  display: inline-block;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.85em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question-stats {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}

.question-comment {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}

.upload-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: auto;
  margin-right: 2em;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.upload-button:hover {
  background-color: #0056b3;
}