.header-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 20px;
}

.difficulty-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
  width: 100%;
}

.toggle-missing-stats-button {
  background-color: #007bff; 
  color: white;
  font-family: 'Work Sans', sans-serif;
  border: none;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
  white-space: nowrap;
  color: white;
}

.toggle-missing-stats-button:hover {
  background-color: #0056b3; 
}

.missing-stats-dropdown {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

#difficulty-question-item {
  padding-right: 20px;
  box-shadow: none;
  background-color: #f9f9f9;
  border-left: none;
  align-items: flex-start;
}

.stat-estimate-div {
  text-align: center;
}

#estimate-header {
  margin: 0;
  padding-bottom: 5px;
}

.missing-stat-entry {
  margin-bottom: 15px;
}

.missing-stat-entry h4 {
  margin-bottom: 10px;
}

.missing-stat-entry input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.estimate-title {
  margin-bottom: 0;
}

.estimate-text {
  font-weight: normal;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.question-text {
  margin-bottom: 15px;
}

.stats-inputs {
  width: 70%;
  margin: auto;
}

.stat-input {
  display: flex;
  align-items: center;
  height: 35px;
}

.stat-input label {
  width: 80px;
  font-size: 0.9em;
  margin-right: 5px;
  font-weight: bold;
  font-size: 0.9em;
}

.stat-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 25px;
  margin-top: 15px;
}

.overall-stats-div {
  display: flex;
  width: 72%;
  margin: 0 auto;
  margin-top: 30px;
}

.difficulty-chart {
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.overall-stats-container {
  padding: 5px 10px;
  width: 30%;
  font-size: 1.1em;
  margin-right: 20px;
}

.overall-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.overall-stats-container div:last-child {
  border-bottom: none; 
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

#metrics-container-difficulty {
  width: 70%;
  margin: 0 auto;
}

.metrics {
  display: flex;
  width: 85%
}

.metric {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-right: 1px solid #ddd; 
}

#last-metric {
  border: none;
}

.view-metrics {
  width: 15%;
  padding: 0 10px 0 10px;
}

.view-metrics-button {
  font:inherit;
  font-size: 0.9em;
  font-weight: bold;
  color: black;
  background-color: transparent;
  display: flex;
}

.view-metrics-button:hover {
  color:#007bff;
}