.create-assignment-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: #eae7ee;
  min-height: 100vh;
}

.create-assignment-content {
  width: 80%;
  max-width: 900px;
  margin-top: 20px;
}

.create-assignment-header {
  display: flex;
}
 
.back-button {
  margin-top: 12px;
}

.create-assignment-form-div {
  width: 100%;
  justify-content: center;
}

.assignment-name-input {
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.questions-container {
  display: flex;
  justify-content: space-between;
}

.question-div {
 overflow: scroll;
 height: 370px;
 margin-top: -10px;
}


.available-questions,
.selected-questions {
  width: 45%;
  margin-top: -20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.save-assignment-button {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.save-assignment-button:hover {
  background-color: #218838;
}
