#reset-password-shadow-box {
    height: 570px;
}

#success {
    background-color: #edffe9;
    border: 2px solid rgba(129, 255, 133, 0.4);
    color: #148827;
}

#success-shadow-box {
    height: 270px;
}