.course-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #eae7ee;
    min-height: 100vh;
  }
  
  .course-content {
    width: 70%;
    max-width: 1400px;
    padding-top: 10px;
  }
  
  .course-header {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .course-name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    text-align: center;
  }
  
  .add-assignment-button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    margin: 20px 0px;
  }
  
  .add-assignment-button:hover {
    background-color: #c9302c;
  }
  
  .assignments-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .assignment-card {
    background-color: #d3d3d3;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .assignment-name {
    font-weight: bold;
    color: #333;
  }

  #add-assignment-text {
    margin-left: 10px;
  }
  
  .options-icon {
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .view-questions-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px; 
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
  }
  
  .view-questions-button:hover {
    background-color: #0056b3;
  }

  .course-buttons {
    display: flex;
    flex-direction: column;
  }

  .back-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
  }

  .assignment-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .options-icon {
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .menu {
    position: absolute;
    right: 10px;
    top: 40px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .menu-item {
    background: none;
    border: none;
    padding: 10px 15px;
    width: 100%;
    text-align: left;
    font-size: 1em;
    cursor: pointer;
  }
  
  .menu-item:hover {
    background-color: #f8d7da;
    color: #d9534f;
  }
  