.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Verdana', sans-serif;
  background-color: #eae7ee;
  min-height: 100vh;
}

.home-content {
  width: 70%;
  max-width: 1400px;
  padding-top: 10px
}

.courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.courses-title {
  font-size: 2.1em;
}

.new-course-button {
  background-color: #e96c67;
  width: 13%;
  justify-content: center;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
  cursor: pointer;
}

.add-course {
  font-weight: bold;
  margin-left: 5px;
}

.new-course-button:hover {
  background-color: #c9302c;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.home-course-card {
  background-color: #dcdcdc;
  border: 2px solid black;
  width: 320px;
  height: 45px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: relative;
  cursor: pointer;
}

.home-course-info {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.home-course-icon {
  font-size: 1.6em;
  color: #333;
  padding-right: 6px;
}

.home-course-name {
  color: #333;
  font-size: 1.2em;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-options-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: #333;
}

.home-menu {
  position: absolute;
  right: -95px;
  top: 35px;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 120px;
}

.home-menu-item {
  background: none;
  color: black;
  padding: 8px 15px;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
}

.home-menu-item.rename {
  border-bottom: 1px solid black;
  border-radius: 3px 3px 0 0;
}

.home-menu-item.delete {
  border-radius: 0 0 3px 3px;
}

.home-menu-item:hover {
  background-color: #c4c4c4;
}
